@font-face {
  font-family: "AllrounderTest";
  src: url(./assets/fonts/AllrounderMonumentTest-Book.otf);
  font-weight: bold;
}
@font-face {
  font-family: "AllrounderTest";
  src: url(./assets/fonts/AllrounderMonumentTest-Regular.otf);
  font-weight: normal;
}

body{
  font-family: "AllrounderTest"
}
nav a{
  text-decoration: none;
  color: black;
  font-size: 14px;
}

nav a{
  position: relative;
  margin-top:20px;
  padding:4px 7px;
}
nav a:hover{
  color: black;
  
}
nav a:hover::before, nav a.active::before{
  content: '';
  position: absolute;
  width:100%;
  top: -5px;
  right:0;
  left:0;
  height:3px;
  background: #dcb875;
}

nav a.active{
  background: #ffdc9c52;
}


.main-img{
  height: 100% !important;
  width: auto !important;
}